/* Navbar Section*/

.menu {
    float: right;
    text-align: right;
}

.menu li {
    display: inline-block;
    height:  56px;
    padding: 20px 10px;
}

.menu a {
    color: #ffffff;
    text-decoration: none;
}

.menu a:hover {
    color: #e72f07;
}

input.search-input {
    width: 300px;
}


/*Header Area Section*/

div.header-container {
    background-image: url("../assets/images/img1.jpg") ;
    height: 500px;
    background-position: center;
    background-size: auto;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

button.buy-now-btn a {
    color: #000000;
}

button.buy-now-btn a:hover {
    text-decoration: none;
}

/*Test Section*/

div.section-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px 0px;
}

.categories {
    height: 350px;
}

/**/

.element-container{
    background-image: linear-gradient(to bottom right, #f2f4f4, #ffffff);
    min-height: 300px;
    max-height: fit-content;
    margin: 80px 0px;
}

.fa-award, .fa-plane, .fa-headset {
    color: #000000;
    font-size: 50px;
}



/*Products */

div.item-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

div.container-product {
    width: 300px;
    padding: 20px 10px;
    margin: 15px;
    background-color: #f7f8f8;
}

div.product-body p.title-product{
    font-size: 13px;
    padding: 10px 50px;
}

div.product-body p.title-product a { 
    color: #000000;
}

div.product-body p.title-product a:hover {
    text-decoration: none; 
    cursor: pointer;
}

i.fa-heart, i.fa-shopping-cart, i.fa-eye {
    padding: 0px 10px;
}

i.fa-heart:hover {
    color: #ed0414;
}

i.fa-shopping-cart:hover {
    color: #0167ff;
}

i.fa-eye:hover {
    color: #9da6aa;
}

i.fa-star, i.fa-star-half-alt {
    color: #ffbe00;
}

/*Customer Support*/

img.whatsapp-logo {
    height: 80px;
}

div.customer-service {
    position: fixed;
    bottom: 100px;
    right: 50px;
}

small.contact-us {
    background-color: #ffffff;
}

/*Footer*/

footer.copyright-container {
    padding: 30px 0px;
    background-color: #000000;
    color: #ffffff;
}

/*Media Queries*/

@media only screen and (max-width: 986px) {

    ul li.menu-item {
        font-size: 12px;
    }

    input.search-input {
        width: 200px;
    }


}

@media only screen and (max-width: 787px) {

    input.search-input {
        width: 130px;
    }




}

/*Tablet*/
@media only screen and (max-width: 768px) {



}

@media only screen and (max-width: 767px) {

    div.hide-on-mobile {
        display: none;
    }

}



/*Mobile*/
@media only screen and (max-width: 425px) {



}